.formDate {
    position: fixed;
    top: 37%;
    left: 39%;
    display: none;
}

.formDate.montrer{
    display: initial;
}

/* Notification de success */

/* icone des notification*/
.nnotificationotif .icone{
    display: inline-block;
    width: 15px;
}

.notification.reussite .icone{
    color: rgb(0 212 138);
}
.notification.echec .icone{
    color: rgb(255 72 72);;
}

/* Bloc des notif en globalité*/
.notification {
    position: fixed;
    top: 10%;
    /* border: 1px solid black; */
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
    left: 44%;
    background: white;
    padding: 5px 15px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease;
}

.notification.reussite{
    color: rgb(0 212 138);
}

.notification.echec{
    color: rgb(255 72 72);
}

/* Annimation d'aparrition des notifications */
.apparait{
    opacity: 1;
    transform: translateY(20px);
}

.disparait{
    opacity: 0;
}

/* Annimation super cool des icones */
.notification.reussite .icone i {
    overflow: hidden;
    width: 0px;
    transition: width 1.5s ease;
}

.notification.reussite .icone.decale i{
    width: 15px;
}

button.modifDate {
    border: 0;
    padding: 11px;
    font-size: small;
    border-radius: 10px;
    background: rgb(0 212 138);
    color: white;
    display: block;
    margin-top: 70px;
}

input#date {
    margin-top: 37px;
    border-radius: 9px;
    border: 1px solid rgb(84, 40, 241);
    padding: 12px;
}